.hand {
    position:absolute;
    right:0;
    margin-top: 30px;
    margin-right: 60px;
    max-width: 35%;
    z-index: -5;
}

.herotext {
    position: absolute;
    font-size: 2em;
    max-width: 25%;
    margin-left: 17%;
    margin-top: 150px;
    color: rgb(67, 200, 151);
}
.subherotext {
    position: absolute;
    max-width: 25%;
    margin-left: 17%;
    margin-top: 470px;
    font-family: "DM Serif Display";
    color: rgb(53, 53, 53);
    letter-spacing: 1px;
    font-weight: 100;
}

.banner {
    
    margin-left: 25%;
}

.partenaires {
    margin-top: -500px;
    margin-left: 30px;
}

/*
.box {
    background-color: rgba(117, 230, 189, 0.325);
    margin-inline: 20%;
    margin-top: 80px;
    height: 300px;
    border-radius: 20px;
}
*/

@media only screen and (max-width: 900px) {
    
}