* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI' Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.left_nav a{
    color:#279ABC;
}
