.hide {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top:-110px;
    height: 100px;
    width: 60%;
}

.panier_text{
    width: 25%;
    position:absolute;
    margin-top: 290px;
    font-size: 0.8em;
    margin-left: 62%;
    margin-right: 200px;
    color:rgb(145, 167, 240);
}
.subtext {
    margin-top: 40px;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
}

.form {
    margin-left: 100px;
    padding-top: 100px;
}

.add2cal {
    margin-top: 40px;
}

@media only screen and (max-width : 1200px) {

}